@import '../../vendor/mixins.scss';

.rates {
    @include block;
    position: relative;
}

.field_rate {
    width: 100%;
}

.inputs {
    display: flex;

    gap: 12px;
    width: 348px;
}

.warning {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: #F89500;
    }

    &_vis {
        margin-top: 6px;
        height: 16px;
        opacity: 1;
    }
}

.block {
    &_point {
        width: 100%;
        position: relative;
    }

    &_list {
        max-height: 238px;
        margin: 6px 0 0;
        height: fit-content;
        box-sizing: border-box;
        overflow: auto;
        padding: 6px 0;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
        display: flex;
        flex-direction: column;

        &_2 {
            width: 348px;
        }
    }
}


.sub {
    color: var(--color-text-secondary);
}

.rate {
    display: flex;
    padding: 12px 0;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;

    p {
        line-height: 18px;
    }

    &:hover {
        background-color: #D4DFF32B;
    }
}

.bit {
    width: 90px;
    flex-shrink: 0;
}

.name {
    width: 100%;
}

.arrow {
    width: 40px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;

    &_anim {
        transform: translateX(3px);
    }
}

.disabled {
    pointer-events: none;
}

.container {
    width: 100%;
    position: relative;
    transition: all 0.2s;
}

.tarif {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    max-height: 144px;


    &_vis {
        opacity: 1;
        max-height: 220px;
        visibility: visible;
    }
}