@import '../../vendor/mixins.scss';

.rates {
    @include block;
    position: relative;
}

.field_rate {
    width: 100%;
}

.inputs {
    display: flex;

    gap: 12px;
    width: 348px;
}

.warning {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: #F89500;
    }

    &_vis {
        margin-top: 6px;
        height: 16px;
        opacity: 1;
    }
}

.block {
    &_point {
        width: 100%;
        position: relative;
    }

    &_list {
        max-height: 338px;
        margin: 8px 0 0;
        height: fit-content;
        box-sizing: border-box;
        overflow: auto;
        padding: 6px 0;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
        display: flex;
        flex-direction: column;

        
    }
}


.sub {
    color: var(--color-text-secondary);
}

.rate {
    display: flex;
    min-height: 40px;
    gap: 12px;
    padding: 8px 16px 8px 12px;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;

    p {
        line-height: 18px;
    }

    &:hover {
        background-color: #D4DFF32B;
    }

    &_active {
        background-color: #e6efff;

        &:hover {
            background-color: #e6efff;
        }
    }
}

.unit {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.min {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.bit {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.name {
    width: 100%;
    display: flex;
    flex-shrink: 10;
}

.arrow {
    width: 40px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;

    &_anim {
        transform: translateX(3px);
    }
}

.disabled {
    pointer-events: none;
}

.container {
    width: 100%;
    height: min-content;
    position: relative;
    transition: all 0.2s;
}

.tarif {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    height: max-content;
    flex-shrink: 0;
    pointer-events: none;
    /*    max-height: 144px; */

    &_twice {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        pointer-events: none;
    }


    &_vis {
        opacity: 1;
        /* max-height: 230px; */
        visibility: visible;
        pointer-events: auto;
    }
}

.subs {
    color: #71869d;
    display: flex;
    gap: 12px;
    padding: 8px 12px;
    /* margin: 0 28px 0 31px; */

    span {
        flex-shrink: 0;
        display: flex;
        justify-content: center
    }

    span:first-child {
        justify-content: flex-start;
        flex-shrink: 10;
    }
}