.container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    user-select: none;
    height: 20px;
    opacity: 1;
    visibility: visible;
    transition: all 0.15s;
    flex-shrink: 0;
    width: fit-content;

    &_hidden {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    p {
        color: var(--color-text-secondary);
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        transition: all 0.15s;
    }

    &_disabled {
        pointer-events: none;

        p {
            opacity: 0.6;
        }
    }
}

.switch {
    width: 34px;
    height: 20px;
    background-color: var(--color-bg-switch-off);
    border-radius: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: all 0.15s;

    div {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: #ffff;
        margin-left: 3px;
        transition: all 0.15s;
    }

    &_on {
        background-color: var(--color-button-accent);
        div {
            transform: translateX(14px);
        }
    }

    &_disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}