.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;
    z-index: 12;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}