.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 30;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.15);
        visibility: visible;
    }
}

.modal {
    background-color: var(--color-bg-full);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 40px;
    width: 720px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    transform: scale(0.7);
    opacity: 0;
    position: relative;

    &_anim {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.15s;

    &:hover {
        opacity: 0.7;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 12px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 96%;
    }
}