.container {
    border-radius: 4px;
    overflow: hidden;
    width: 690px;
    padding-top: 12px;
    height: 292px;
    transition: all 0.2s ease-in-out;

    &_hidden {
        height: 0;
        opacity: 0;
    }
}