@import '../../vendor/mixins.scss';

.window {
    max-height: 0;
    height: fit-content;
    overflow: hidden;
    margin-bottom: -16px;
    max-width: 100%;
    opacity: 0.4;
    transition: opacity 0.25s;
  

    &_vis {
        overflow: visible;
        max-height: 520px;
        margin-bottom: 0;
        opacity: 1;

    }
}

.container {
    @include block;
    height: 100%;
}

.history {
    max-height: 326px;
    box-sizing: border-box;
    overflow: auto;
    padding: 6px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 9px 9px 9px 0;
    min-height: 56px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
    transition: all 0.15s;

    &:hover {
        background-color: #D4DFF32B;
    }
}

.repeat {
    padding: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        rotate: -30deg;
    }
}

.block {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    box-sizing: border-box;
    gap: 6px;
    height: 100%;

    p {
        max-width: 99%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    span {
        display: flex;
        align-items: center;
        gap: 6px;
        max-width: 96%;
        color: var(--color-text-secondary);

        input {
            color: var(--color-text-secondary);
        }
    }

    &_date {
        width: 120px;
        flex-shrink: 0;
    }

    &_address {
        width: 100%;
        flex-shrink: 500;
        overflow: hidden;
    }

    &_contact {
        width: 240px;
        flex-shrink: 0;
    }

    &_bit {
        flex-shrink: 0;
        width: 180px;
    }
}

.bage {
    width: 145px;
    height: 28px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background-color: #DBF8EF;

    p {
        color: #28A879;
    }

    &_yellow {
        background-color: #FFD50026;

        p {
            color: #F89500;
        }
    }

    &_red {
        background-color: #FEE9EF;

        p {
            color: #CC0101;
        }
    }
}