@import '../../vendor/mixins.scss';
.window {
    max-height: 0;
    height: 258px;
    overflow: hidden;
    margin-bottom: -16px;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, margin-bottom 0.3s ease-in-out, opacity 0.25s;

    &_vis {
        overflow: visible;
        max-height: 300px;
        margin-bottom: 0;
        opacity: 1;

    }


}

.container {
    @include block;
    height: 100%;
}