.root {
    position: absolute;
    z-index: 3;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(31, 51, 69, 0.90);
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s;

    p {
        margin: 0;
        padding: 0;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        text-wrap: wrap !important;
    }

    &_open {
        visibility: visible;
        opacity: 1;
    }

    &_center {
        left: 50%;
        transform: translateX(-50%);
    }
}