.container {
    position: absolute;
    bottom: 24px;
    left: 16px;
    max-width: 300px;
    display: flex;
    gap: 6px;
    border-radius: 4px;
    padding: 12px;
    background-color: var(--color-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
        font-size: 14px;
    }

    span {
        font-size: 14px;
        color: var(--color-text-secondary);
    }
}