.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 12;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}

.modal {
    transition: all 0.2s ease-in-out;
    width: 380px;
    height: 775px;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    position: relative;

    &_anim {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }


}

.fon {
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 64px 29px 58px;
    font-family: 'IBM Plex Sans';
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.back {
    width: 24px;
    height: 24px;
    margin-bottom: 22px;


    svg {
        height: 100%;
        width: 100%;
        flex-shrink: 0;
    }
}

.date {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
        margin-left: 2px;
    }
}

.item {
    width: fit-content;
    height: fit-content;
    position: relative;
    flex-shrink: 0;

    &_date {
        min-width: 40px;
    }

    &_time {
        min-width: 40px;
        width: fit-content;
        max-width: 70px;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 20px;
    }

    &_rate {
        min-width: 28px;
        height: 20px;
    }

    &_rate2 {
        min-width: 20px;
        height: 16px;
    }

    &_rate3 {
        min-width: 70px;
    }

    &_partner {
        height: 20px;
        min-width: 240px;
    }

    &_address {
        width: 100%;
    }
}

.title {
    font-family: 'IBM Plex Sans' !important;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.price {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.rate {
    display: flex;
    gap: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #8037DC;

    &_2 {
        display: flex;
        gap: 4px;

        p {
            font-size: 14px;
            color: #8C8C8C;
            font-weight: 400;
            line-height: 17px;
        }
    }
}

.block {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 2px 3px 0px rgba(185, 185, 185, 0.10), 0px 1px 3px 0px rgba(148, 148, 148, 0.12), 0px -1px 2px 0px rgba(0, 0, 0, 0.08);



    &_hidden {
        display: none;
    }
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &_wrap {
        word-break: break-all;
        white-space: pre-wrap;
    }
}

.bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: auto;
}

.tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 4px 12px;
    background-color: #F1F1F1;
    border-radius: 4px;
    margin: 0;

    li {
        height: 20px;
    }
}