.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 30;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}

.modal {
    transition: all 0.2s ease-in-out;
    width: 380px;
    height: 775px;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    position: relative;

    &_anim {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}

.fon {
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 64px 28px 58px;
    font-family: 'IBM Plex Sans';
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
}

.back {
    width: 24px;
    height: 24px;
    margin-bottom: 22px;


    svg {
        height: 100%;
        width: 100%;
        flex-shrink: 0;
    }
}

.time {
    display: flex;
    align-items: center;
    gap: 8px;
}