.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 30;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}

.modal {
    transition: all 0.2s ease-in-out;
    width: 380px;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;

    &_anim {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }


}

.fon {
    width: 100%;
    height: auto;
}
