@import '../../vendor/mixins.scss';


.add {
    max-height: 0;
    height: fit-content;
    overflow: hidden;
    margin-bottom: -16px;
    opacity: 0.6;
    transition: max-height 0.3s ease-in-out, margin-bottom 0.3s ease-in-out, opacity 0.25s;

    &_2 {
        transition: max-height 0.2s, margin-bottom 0.2s, opacity 0.15s;
    }

    &_open {
        overflow: visible;
        max-height: 1005px;
        margin-bottom: 0;
        opacity: 1;

    }


}

.container {
    @include block;
    height: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form {
    width: 900px;
    max-height: 900;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: max-height 0.3s ease-in-out, opacity 0.25s;

    &_hidden {
        margin-bottom: -16px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.block {
    display: flex;
    gap: 12px;
    width: 500px;

    &_email {
        position: relative;
        align-items: center;
    }
}

.switch {
    position: absolute;
    right: -200px;
    top: 30px;
    display: flex;
    align-items: center;
}

.sum {
    padding-left: 1px;
    padding-bottom: 1px;
    height: fit-content;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.2s;

    &_open {
        max-height: 100px;
        opacity: 1;
        visibility: visible;
    }
}