.root {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0;
    max-height: 0;
    margin-bottom: -12px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &_vis {
        opacity: 1;
        max-height: 76px;
        margin-bottom: 6px;
    }
}

.field {
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;

    p {
        width: 100%;
    }
}

.contract {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    gap: 3px;

    span {
        color: #71869D;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-wrap: nowrap;
        width: 100%;
        overflow: hidden;
    }
}

.list {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #0020331a;
    left: 0;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &_open {
        max-height: 320px;
        overflow: auto;
    }

}

.item {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 55px;
    padding: 8px 12px;

    &:hover {
        background-color: rgba(212, 223, 243, .169);
    }

    &_active {
        background-color: rgba(212, 223, 243, .537);
        pointer-events: none;
    }

    span {
        margin-top: 3px;
        color: #71869D;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-wrap: nowrap;
        width: 100%;
        overflow: hidden;
    }
}

.chewron {
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;

    &_up {
        transform: rotate(180deg);
    }
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
}