@import '../../vendor/mixins.scss';


.window {
    opacity: 1;
    max-height: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*     transition: max-height 0.5s, margin-bottom 0.3s;  */
    /*  margin-bottom: 16px */

    &_hidden {
        max-height: 0;
        overflow: hidden;
        margin-bottom: -16px;
    }
}

.customer {
    @include block;
}

.container {
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
}

.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.company {
    position: relative;
    box-sizing: border-box;
    max-height: 0;
    width: 500px;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 0;
    padding: 1px;
    transition: all 0.2s;
    overflow: hidden;
    display: flex;

    &_vis {
        visibility: visible;
        overflow: visible;
        opacity: 1;
        max-height: 86px;
        margin-bottom: 12px;
    }
}

.contact {
    width: 500px;
    display: flex;
    gap: 12px;
}

.switch {
    height: 100%;
    padding-top: 21px;
}

.loader {
    margin-top: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 6px;

    p {
        color: var(--color-text-secondary);
    }



    &_vis {
        height: 18px;
        margin-top: 12px;
        opacity: 1;
    }

    &_anim {
        svg {
            animation: load 4s linear infinite;
        }
    }

    &_error {
        transition: opacity 0.15s ease-in-out;

        p {
            color: #E10D0D;
        }
    }

    &_warning {
        transition: opacity 0.15s ease-in-out;

        p {
            color: #F89500;
        }
    }

    &_history {}
}

@keyframes load {
    from {
        transform: rotate(360deg);
    }
}


.warnings {
    position: absolute;
    right: -568px;
    top: 20px;
    width: 560px;

    &_phone {
        right: -342px;
    }
}

.pointer {
    cursor: pointer;
}