.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;

    &_data {
        position: relative;
        width: 270px;
    }

    &_time {
        position: relative;
        width: 110px;

    }

    &_num {
        width: fit-content;
    }

    &_select {
        width: 500px;
    }

    &_select2 {
        width: 244px;

        p {
            color: var(--color-text-secondary);
        }
    }

    &_contacts {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
    transition: all 0.1s;

    &_err {
        color: #E10D0D;
    }
}

.input {
    min-width: 100px;
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    outline: 1px solid var(--color-input-outline);
    transition: all 0.1s;

    &:focus {
        outline: 1px solid var(--color-button-accent);
    }

    &:disabled {
        background-color: var(--color-bg-switch-off);

        &::placeholder {
            opacity: 0;
        }
    }

    &_err {
        outline-color: #E10D0D;
    }

}

//инпут пойск компании

.field {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    min-width: 100px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    outline: 1px solid var(--color-input-outline);
    transition: all 0.15s;

    svg {
        flex-shrink: 0;
    }

    input {
        width: 100%;
    }

    &_data {
        padding: 0px 12px;
        cursor: pointer;

        input {
            height: 100%;
            cursor: pointer;
        }

        svg path {
            transition: all 0.2s;
        }

        &:hover {
            svg path {
                fill: var(--color-button-accent);
            }
        }
    }

    &_focus {
        outline: 1px solid var(--color-button-accent);
    }


    &_time {
        padding: 0px 12px;
        cursor: pointer;

        input {
            height: 100%;
            cursor: pointer;
        }

        svg path {
            transition: all 0.2s;
        }

        &:hover {
            svg path:nth-child(2) {
                fill: var(--color-button-accent);
            }

            svg path:first-child {
                stroke: var(--color-button-accent);
            }
        }

        input {
            &::placeholder {
                transition: all 0.15s;
                opacity: 1;
            }
        }


        &_focus {
            outline: 1px solid var(--color-button-accent);

            &:hover {
                svg path:nth-child(2) {
                    fill: #ADBFDF;
                }

                svg path:first-child {
                    stroke: #ADBFDF;
                }
            }
        }
    }

    &_disabled {
        background-color: var(--color-bg-switch-off);
        pointer-events: none;

        input {
            &::placeholder {
                opacity: 0;
            }
        }

        svg {
            opacity: 0.6;
        }
    }

    &_company {
        width: 500px;
    }

    &_select {
        cursor: pointer;
    }

    &_error {
        outline-color: #E10D0D;
    }


}

.chewron {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        svg path {
            fill: var(--color-button-accent)
        }
    }

    &_open {
        transform: rotate(180deg);

    }
}

.list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 34px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 4px;
    background: var(--color-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    opacity: 0;
    /*  transition: all 0.15s; */

    &_scroll {
        overflow: auto;
    }

    &_open {
        opacity: 1;
        max-height: 320px;
    }

    li {
        padding: 8px 12px;
        min-height: 40px;
        box-sizing: border-box;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        gap: 6px;
        transition: all 0.15s;

        &:hover {
            background-color: #D4DFF32B;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }

        span {
            color: var(--color-text-secondary);
            font-size: 14px;
            line-height: 14px;
        }
    }

    &_top {
        top: auto !important;
        bottom: 32px;
        left: 0;
    }
}

.phone {
    transition: all 0.1s;

    input {
        width: 100%;
        height: 40px;
        min-width: 200px;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        outline: 1px solid var(--color-input-outline);
        transition: all 0.1s;
        width: 100%;

        &:focus {
            outline: 1px solid var(--color-button-accent);
        }

        &::placeholder {
            transition: all 0.1s;
            opacity: 1;
        }
    }

    &_error {
        input {
            outline-color: #E10D0D;
        }
    }
}

.bages {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
        font-size: 14px;
        line-height: 14px;
        color: var(--color-button-accent);
        cursor: pointer;
        user-select: none;
        transition: all 0.15s;

        &:hover {
            color: var(--color-button-accent-hover);
        }
    }
}

.disabled {
    background-color: var(--color-bg-switch-off);

    input {
        &::placeholder {
            opacity: 0;
        }
    }
}

.list {
    &_optional {
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        z-index: 3;
        height: fit-content;
        max-height: 340px;
        width: 100%;
        top: 47px;
        left: 0;
        overflow: auto;
        background-color: var(--color-bg-card);
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px #0020331A;
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.2s;
        user-select: none;
        visibility: hidden;

        li {
            height: 40px;
            cursor: pointer;
            flex-shrink: 0;
            width: 100%;
            box-sizing: border-box;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.15s;

            &:hover {
                background-color: #D4DFF32B;
            }
        }

        &_open {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }
    }




}

.block {
    width: 100%;
    position: relative;
}

.kpp {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 0;
    gap: 6px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.25s ease-in-out;

    span {
        text-wrap: nowrap;
    }

    input {
        color: var(--color-text-secondary);
    }

    &_vis {
        width: 240px;
        opacity: 1;
        visibility: visible;
    }
}

.number_active {
    color: var(--color-button-accent) !important;
    background-color: #D4DFF32B;
}

.nofound {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: -6px;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: #F89500;
    }

    &_vis {
        margin-top: 0;
        height: 16px;
        opacity: 1;
    }
}

.error {
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: -6px;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: #E10D0D;
    }

    &_vis {
        margin-top: 0;
        height: 18px;
        opacity: 1;
    }

    &_2 {
        position: absolute;
        right: -140px;
        top: 32px
    }
}

.bill {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: -6px;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: var(--color-text-secondary);
    }

    &_vis {
        margin-top: 0;
        margin-bottom: 16px;
        height: 20px;
        opacity: 1;
    }
}

.item {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    width: 100%;
    gap: 6px;


    &_active {
        pointer-events: none;
        background-color: #d4dff389;
    }

    p {
        display: flex;
        align-items: center;
        flex-shrink: 2;
        width: 100%;
    }

    span {
        margin-left: auto;
    }
}

.inn {
    width: 244px;
    transition: width 0.2s;

    &_wide {
        width: 500px;
    }
}

.contacts {
    border-radius: 4px;
   /*  min-width: 100%; */
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    height: fit-content;
    visibility: hidden;
    transition: all 0.2s;

    &_top {
        top: auto !important;
        bottom: 51px;
        left: 0;
    }


    &_vis {
        opacity: 1;
        overflow: auto;
        max-height: 238px;
        visibility: visible;
    }
}

.contact {
    width: fit-content;
 /*    min-width: 100%; */
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    position: relative;
    z-index: 2;

    &_phone {
        width: 160px;
        display: flex;
        align-items: center;

        input {
            cursor: pointer;
            z-index: 1;
            caret-color: transparent;
        }
    }

  

    &_name {
        margin-left: auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: #D4DFF32B;
    }
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 24px;
    height: 24px;
    margin-right: 2px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    img {
        z-index: 3;
        width: 102%;
        height: 102%;
    }
}