.button {
    height: 100%;
    height: 44px;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
   /*  gap: 8px; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

    &:disabled {
        opacity: 0;
        pointer-events: none;
    }

    background-color: #002CFB;
    color: #FFFFFF;

    &:hover {
        background-color: #0028E5;
    }


    &_second {
        color: var(--color-button-accent);
        background: none;
        border: 1px solid var(--color-button-accent);
        box-sizing: border-box;

        svg path {
            fill: var(--color-button-accent);
        }

        &:hover {
            background: none;
            color: var(--color-button-accent-hover);
            border-color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    &_points {
        padding: 12px;

        svg {
            margin: 0;
        }
    }

    &_cancle {
        color: #E10D0D;
        border: 1px solid #E10D0D;
        box-sizing: border-box;
        background: none;

        &:hover {
            background: none;
            opacity: 0.8;
        }
    }


    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    transition: all 0.25s;
    margin-left: 8px;

    &_hidden {
        width: 0;
        margin-left: 0;
        opacity: 0;
    }
}