.app {
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-bg);
    min-width: 870px;
    /*   height: 100vh; */
    height: 100vh;
    overflow: overlay;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 0.15s;

    &_anim {
        opacity: 1;
    }

    &_disabled {
        pointer-events: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:active {
        color: inherit;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    position: relative;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 6px;
    min-height: 40px;
    opacity: 0;
    visibility: hidden;


    &_2 {
        position: absolute;
        top: 0;
        right: 0;
    }


    &_bottom {
        opacity: 0;
        width: fit-content;
        visibility: hidden;
        margin: 0 auto;
        border-radius: 4px;
        gap: 4px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 20px;
        transition: all 0.2s;

        button {
            height: 40px;
        }
    }

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}

.container {
    display: flex;
    width: 100%;
    gap: 16px;
}

.left {
    width: calc(71.5% - 8px);
    /*  width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 30;
    position: relative;

    @media(max-width: 1500px) {
        min-width: 800px;
        width: 100%;
    }
}

.right {
    width: calc(28.5% - 8px);
    /*  min-width: 426px; */
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    @media(max-width: 1500px) {
        display: none;
    }
}

.sticky {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: -14px;
    /* min-width: 380px; */
    height: calc(100vh - 200px);
}

.errors {
    display: none;

    @media(max-width: 1500px) {
        display: flex;
        margin-bottom: -20px;
    }
}