.app {
    padding: 30px;
    display: flex;
    flex-direction: column;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:active {
        color: inherit;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 6px;
}

.container {
    display: flex;
    gap: 16px;
}

.left {
    width: 71.5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right {
    width: 28.5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}