.app {
    padding: 30px 30px 80px;
    display: flex;
    flex-direction: column;
    position: relative;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:active {
        color: inherit;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 6px;
}

.container {
    display: flex;
    width: 100%;
    gap: 16px;
}

.left {
    width: calc(71.5% - 8px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 10;
}

.right {
    width: calc(28.5% - 8px);
    flex-shrink: 0;
}

.sticky {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: 16px;
    height: calc(100vh - 182px);
}