.segments {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    padding: 5px 12px;
    background-color: var(--color-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);

    &_disabled {
        pointer-events: none;
        opacity: 0.8;
    }
}

.segment {
    padding: 6px 12px;
    border-radius: 4px;
    min-width: 144px;
    width: fit-content;
    user-select: none;
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--color-text-secondary);
    transition: all 0.15s;
    cursor: pointer;


    &_active {
        background-color: var(--color-tab-active);
        color: var(--color-button-accent);
    }
}