@import '../../vendor/mixins.scss';

.app {
    @include block;
    max-height: 38%;
    min-height: 240px;
    height: fit-content;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_app {
        display: flex;
        gap: 12px;
    }
}

.title {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    width: 100%;
    height: 160px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px -1px 2px 0px #00000014, 0px 1px 3px 0px #9494941F, 0px 2px 3px 0px #B9B9B91A;
}

.avatar {
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    img {
        width: 104%;
        height: 104%;
    }
}

.block {
    display: flex;
    flex-direction: column;
    width: 75%;

    p {
        line-height: 24px;

    }
}

.item {
    width: fit-content;
    height: fit-content;
    position: relative;
    flex-shrink: 0;

    &_time {
        min-width: 40px;
        width: fit-content;
        max-width: 70px;
        overflow: hidden;
        height: 24px;
    }

    &_price {
        min-width: 120px;
        height: 24px;
    }

    &_comment {
        min-height: 48px;
        width: 100%;
    }

    &_service {
        height: 24px;
        width: 100%;
    }
}

.comment {
    margin-top: 12px;
    color: #71869D;
    overflow: hidden;

    p {
        line-height: 18px;
       /*  word-break: break-all;
        white-space: pre-wrap; */
    }
}

.date {
    display: flex;
    gap: 4px;
}

.price {
    margin-top: 2px;

    p {
        color: #8037DC;
    }
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    p {
        color: #002CFB;
        font-weight: 400;
        line-height: 16px;
    }

    &:hover {
        p {
            color: #0028E5;
        }
    }
}