.container {

    display: flex;
    flex-direction: column;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
    margin-bottom: 6px;
}

.field {
    position: relative;
    height: 40px;
    width: 690px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    outline: 1px solid var(--color-input-outline);
    transition: all 0.15s;

    &_focus {
        outline-color: var(--color-button-accent);
    }

    input {
        width: 100%;
        font-size: 16px;
        line-height: 16px;
    }

    &_disabled {
        background-color: var(--color-bg-switch-off);
    }
}

.button {
    flex-shrink: 0;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.1s;

    svg {
        padding-left: 8px;
    }

    p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: var(--color-button-accent);
    }

    &_hidden {
        width: 0;
        opacity: 0;
    }
}

.list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 47px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    height: fit-content;
    border-radius: 4px;
    background: var(--color-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
     transition: all 0.2s;


    &_open {
       max-height: 320px;
    }


    li {
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 6px;
        /*  transition: all 0.15s; */

        &:hover {
            background-color: #D4DFF32B;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }

        span {
            color: var(--color-text-secondary);
            font-size: 14px;
            line-height: 14px;
        }

        &:first-child {
            margin-top: 6px;
        }

        &:last-child {
            margin-bottom: 6px;
        }
    }
}

.block {
    display: flex;
    align-items: center;
    gap: 6px;
}

.map {
    overflow: hidden;
    height: 380px;
    width: 100%;
    padding-top: 12px;
    transition: all 0.2s ease-in-out;

    &_hidden {
        height: 0;
        opacity: 0;
    }
}

.metro {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &_open {
        visibility: visible;
        height: 20px;
        opacity: 1;
    }
}

.error {
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: -6px;
    transition: all 0.15s;

    p {
        font-size: 14px;
        line-height: 14px;
        color: #E10D0D;
    }

    &_vis {
        margin-top: 6px;
        height: 18px;
        opacity: 1;
    }
}
