@import '../../vendor/mixins.scss';

.manager {
   @include block;
   position: relative;
}

.email {
   margin-top: -20px;
   opacity: 0;
   visibility: hidden;
   max-height: 0;
   width: 500px;
   transition: all 0.15s;

   &_vis {
      margin-top: 6px;
      max-height: 70px;
      opacity: 1;
      visibility: visible;
   }
}
