@import '../../vendor/mixins.scss';

.manager {
   @include block;
   position: relative;
}

.email {
   margin-top: -20px;
   opacity: 0;
   visibility: hidden;
   max-height: 0;
   width: 500px;
   transition: all 0.15s;

   &_vis {
      margin-top: 6px;
      max-height: 70px;
      opacity: 1;
      visibility: visible;
   }
}



.partnerRates {
   max-height: 0;
   height: fit-content;
   display: flex;
   flex-direction: column;
   gap: 6px;
   transition: all 0.15s;

   span {
      color: var(--color-text-secondary);
      opacity: 0;
      visibility: hidden;
   }

   &_vis {
      max-height: 70px;
      margin-top: 12px;

      span {
         transition: all 0.15s;
         opacity: 1;
         visibility: visible;
      }
   }
}


.warning {
   display: flex;
   align-items: center;
   gap: 6px;
   overflow: hidden;
   opacity: 0;
   height: 0;
   transition: all 0.15s;

   p {
       font-size: 14px;
       line-height: 14px;
       color: #F89500;
   }

   &_vis {
       margin-top: 6px;
       height: 16px;
       opacity: 1;
   }
}