@import '../../vendor/mixins.scss';

.performers {
   @include block;
   padding-bottom: 0;
   position: relative;
}

.container {
   display: flex;
   align-items: center;
   gap: 12px;

   &_disabled {
      pointer-events: none;
   }

   &_time {
      height: 100%;
   }

   &_sub {
      display: flex;
      flex-direction: column;
      height: fit-content;
      min-height: 70px;
      transition: all 0.25s;
      gap: 6px;
      box-sizing: border-box;

   }

   &_dates {
      display: flex;
      flex-direction: column;
      max-height: 1772px;
 
      padding: 1px;
      margin-bottom: 20px;

   }
/* 
   &_scroll {
      overflow: auto;
   } */
}

.sub {
   font-size: 16px;
   font-weight: 400;
   line-height: 16px;
   color: var(--color-text-secondary);
   user-select: none;
   
}

.hidden {
   overflow: hidden;
   max-height: 0;
   min-height: 0;
   opacity: 0;
}