@import '../../vendor/mixins.scss';

.preview {
    @include block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 80%;
    height: fit-content;
  

}

.title {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    font-weight: 500;
    min-height: 24px;
    display: flex;
    gap: 4px;
}

.time {
    opacity: 0;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
    }
}

.header {
    padding: 0 24px;
}

.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    min-height: 240px;
    padding: 0 24px;
    position: relative;
}

.block {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: all 0.15s ease-in-out;

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: var(--color-text-secondary);
        user-select: none;
        margin-bottom: 6px;
    }

    input {
        height: 24px;
    }

    p {
        line-height: 24px;
    }

    &_bages {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
    }

    &_hidden {
        overflow: hidden;
        height: 0;
        opacity: 0;
        margin-top: -20px;
    }

    &_hidden2 {
        overflow: hidden;
        height: 0;
        opacity: 0;
    }
}

.item {
    width: fit-content;
    height: fit-content;
    position: relative;
    flex-shrink: 0;


    &_company {
        min-width: 340px;
        height: 24px;
        margin-bottom: 20px;
    }

    &_date {
        min-width: 70px;
        height: 24px;
    }

    &_name {
        min-width: 260px;
        height: 24px;

        p {
            max-width: 99%;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }

    &_address {
        width: 100%;
    }

    &_total {
        width: 240px;
    }
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F8FAFD;
    border-radius: 4px;
    width: 100%;
    height: 90%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;

    }
}

.map {
    margin-top: 12px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

    div {
        display: flex;
        justify-content: center;
    }
}

.bage {
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #D4DFF32B;
    outline: 1px solid #d4dff34a;

    p {
        line-height: 16px;
        color: var(--color-text-secondary);
    }
}

.total {
    min-height: 52px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
}