.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 30;
    visibility: hidden;

    &_anim {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}

.modal {
    background-color: var(--color-bg-full);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 40px;
    width: 520px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    position: relative;

    &_anim {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}