.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
}

.area {
    padding: 12px;
    border-radius: 4px;
    border: none;
    outline: 1px solid #D8E4FB8C;
    background-color: #f5f5f500;
    transition: all 0.15s;
    resize: none;

    &:hover {
        /*  outline-color: #002efb33; */
        background-color: #D4DFF32B;
    }

    &:focus {
        outline-color: #002CFB;
        background-color: #f5f5f500;
    }
}

.count {
    margin-left: auto;
    font-size: 14px;
    color: #71869D;
}