.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    user-select: none;

    h3 {
        font-family: Inter, "sans-serif" !important;
    }
}

.button {
    opacity: 1;
    visibility: visible;
    transition: all 0.1s;
    user-select: none;
    cursor: pointer;

    &_point {
        position: relative;
    }

    &_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    &_popup {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 12px;
        right: 0;
        top: 24px;
        text-wrap: nowrap;
        padding: 0 20px;
        min-width: 210px;
        width: max-content;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        border-radius: 4px;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
        text-align: start;

        &:hover {
            background-color: var(--color-bg-card-inner);
        }
    }
}

.info {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        opacity: 0.8;
    }
}