@import '../../vendor/mixins.scss';

.details {
   @include block;
   position: relative;
}

.block {
   display: flex;
   align-items: flex-end;
   gap: 6px;
}

.switch {
   height: 40px;
   margin-bottom: 12px;
   display: flex;
   align-items: center;
}