@import '../../vendor/mixins.scss';

.details {
   @include block;
   position: relative;
}

.block {
   display: flex;
   align-items: flex-end;
   gap: 6px;
}

.switch {
   height: 40px;
   margin-bottom: 12px;
   display: flex;
   align-items: center;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
    margin-bottom: 6px;
}

.dop {
   display: flex;
   flex-direction: column;
   gap: 4px;
}