.container {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 0;
    transition: opacity 0.2s, height 0.3s, margin-bottom 0.2s;
    height: 0;
    margin-bottom: 0;

    &_anim {
       opacity: 1;
       height: 40px;
       margin-bottom: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.delete {
    width: 16px;
    height: 16px;
    cursor: pointer;
   
    svg path {
        transition: all 0.15s;
    }
    
    &:hover {
        svg path {
            fill: #E10D0D;
        }
    }
}