.input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: all 0.15s;

    &:disabled {
        background-color: rgba(212, 223, 243, 0.17);
        color: #121922;
    }

    &::placeholder {
        color: #71869D;
    }

    &:focus {
        border-color: #002CFB;
    }
}