.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-secondary);
    user-select: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 6px;

    &_optional {
        position: absolute;
        flex-direction: column;
        gap: 0;
        height: fit-content;
        max-height: 340px;
        width: 100%;
        top: 47px;
        overflow: auto;
        background-color: var(--color-bg-card);
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px #0020331A;
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.2s;
        user-select: none;
        visibility: hidden;
    }

    &_open {
        visibility: visible;
        transform: scale(1);
        opacity: 1;

    }
}

.tab {
    user-select: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #D4DFF32B;
    color: var(--color-text-secondary);
    outline: 1px solid #ffffff00;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        color: var(--color-button-accent-hover);
        outline: 1px solid #ADBFDF66;
    }

    &_active {
        color: var(--color-button-accent);
        background-color: #002CFB0D;
        outline: 1px solid var(--color-button-accent);

        &:hover {
            outline: 1px solid var(--color-button-accent);
        }
    }

    &_optional {
        width: 80px;
        position: relative;

        li {
            color: var(--color-text-primary);
            cursor: pointer;
            width: 100%;
            height: 40px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.15s;

            &:hover {
                background-color: #D4DFF32B;
            }
        }
    }

    &_forpro {
         width: 91px;

         &:hover {
            outline: 1px solid #adbfdf00;
         }
    }
}

.pro {
    display: flex;
    align-items: center;
    gap: 6px;
}

.manual {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;



    border-radius: 4px;
}

.input {

    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    background-color: var(--color-bg-card);
    opacity: 0;
    transition: all 0.15s;

    &_active {
        cursor: default;
        visibility: visible;
        opacity: 1;
    }
}

.points {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    justify-content: flex-start;

    p {
        line-height: 16px;
    }

    span {
        line-height: 16px;
        width: 100%;
        text-align: center;
    }
}

.reset {
    margin-left: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all 0.15s;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-button-accent);

    &:hover {
        color: #0028E5;
    }

    &_hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.chewron {
    position: absolute;
    right: 12px;
    z-index: 2;
    width: 16px;
    height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, transform 0.2s;

    &_vis {
        visibility: visible;
        opacity: 1;
    }

    &_open {
        transform: rotate(180deg);

        svg path {
            transition: all 0.15s;
            fill: #ADBFDF;
        }
    }
}

.number_active {
    color: var(--color-button-accent) !important;
    background-color: #D4DFF32B;
}