.root {
    position: relative;
    z-index: 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.field {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;

    p {
        width: 100%;
    }
}

.list {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #0020331a;
    left: 0;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &_open {
        max-height: 320px;
    }

}

.item {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 8px 12px;

    &:hover {
        background-color: rgba(212, 223, 243, .169);
    }

    &_active {
        background-color: rgba(212, 223, 243, .537);
        pointer-events: none;
    }
}

.chewron {
    transition: all 0.2s ease-in-out;

    &_up {
        transform: rotate(180deg);
    }
}