.point {
    position: absolute;
    top: 33px;
    right: 6px;
    cursor: pointer;
    transition: all 0.15s;

    &:disabled {
        opacity: 0;
    }
}

.list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 68px;
    padding: 0;
    max-height: 0;
    height: fit-content;
    overflow: hidden;
    border-radius: 4px;
    background: var(--color-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    transition: all 0.25s;

    &_open {
        max-height: 620px;
    }

    li {
        user-select: none;
        padding: 8px 24px;
        min-height: 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        flex-direction: column;
        cursor: pointer;
        gap: 6px;
        transition: all 0.15s;

        &:hover {
            background-color: #D4DFF32B;
        }
    }
}

.item {
    &_active {
        background-color: #d4dff389;

        &:hover {
            background-color: #d4dff389 !important;
        }
    }
}