.timer {
    position: absolute;
    bottom: -285px;
    width: 100%;
    padding: 16px 0 0;
    height: fit-content;
    max-height: 278px;
    left: 0;
    background-color: #FFFFFF;
    z-index: 7;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #0020331A;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.2s;
    user-select: none;


    &_anim {
        transform: scale(1);
        opacity: 1;


    }
}

.headercustom {
    width: 100%;
    height: 30px;
    padding: 0 16px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        line-height: 13px;
        font-size: 10px;
        color: #8E9AA8;
    }
}

.reset {
    margin-top: 12px;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    p {
        font-size: 14px;
        line-height: 14px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-button-accent);
        transition: all 0.15s;
    }

    &:hover {
        p {
            color: var(--color-button-accent-hover);
        }
    }
}

.css-1annikf-MuiMultiSectionDigitalClock-root {
    border: none !important;
}

.css-8ge7h6-MuiList-root-MuiMultiSectionDigitalClockSection-root::-webkit-scrollbar {
    width: 0;
}



.css-8ge7h6-MuiList-root-MuiMultiSectionDigitalClockSection-root::after {
    height: fit-content !important;
}

.css-8ge7h6-MuiList-root-MuiMultiSectionDigitalClockSection-root:not(:first-of-type) {
    border: none;
}

.css-ye9x1e-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
    margin: 0 !important;
    width: 100% !important;
}

.css-ye9x1e-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
    background-color: #D4DFF32B !important;
    color: var(--color-button-accent) !important;
}