.container {
    padding: 6px 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: var(--color-text-secondary);
    }
}

.station {
    display: flex;
    align-items: center;
    gap: 6px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}